/* Write your CSS here */
.table-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-left: 1px solid #cbd5e1;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (min-width: 768px) {
  .table-row {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.transaction-text {
  font-family: 'Roboto';
  font-size: 15px;
  width: 35%;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .transaction-text {
    font-size: 15px;
  }
}

.delete-container {
  display: flex;
  width: 12%;
}

.delete-button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-img {
  width: 22px;
  height: 22px;
  align-self: center;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .delete-img {
    margin-right: 25px;
  }
}
